<html>

<head>

    <title>KLUCZ GRAL</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    
</head>


<body>
    <div class="grid-box">
        <form action="#" method="post">
            <p>Lokalizacja klucza:</p>
            <select class="slider" name="key_form">
                <option value="Magazyn">Magazyn</option>
                <option value="Biuro">Biuro</option>
                <option value="Sklep">Sklep</option>
                <option value="Kibel">Kibel</option>
            </select>
            <p class="form-choice"><input type="submit" value="Wybierz" id="submit"></p>
        </form>
        <p>Klucz ostatnio widziany był:</p>
        <p>{{location}}</p>
    </div>
</body>

</html>