<html>

<head>

    <title>Rozklad</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='logo.ico') }}">

</head>


<body>
    

    <form action="#" method="post">
        <!--
        <p>Przystanek:</p>
        <p><input list="stop" name="stop"></p>
        <datalist id="stop">
        <option value="Zamenhofa 01">
        <option value="Zamenhofa 02">
        <option value="Życzliwa 01">
        <option value="Życzliwa 02">
        </datalist>
        <p><input type="submit" value="Wybierz" id="submit"></p>
        -->
        {% for message in get_flashed_messages()%}
        <p>{{message}}</p>
        {% endfor %}
    </form>

</body>

</html>