<html>

<head>

    <title>Rozklad</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='logo.ico') }}">

</head>


<body>

    <form action="#" method="post">
        <p>Przystanek:</p>
        <p><input list="stop" name="stop"></p>
        <datalist id="stop">
        {% for stop in stops_list %}
        <option value="{{stop}}">
        {% endfor %}
        </datalist>
        <p><input type="submit" value="Wybierz" id="submit"></p>
    </form>

</body>

</html>