<html>

<head>

    <title>{{zone}}: {{stop}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='logo.ico') }}">
    <meta name="propeller" content="e159f6f39457136a57a831b6a04bb2e1">
    <script> 
        function timedRefresh(timeoutPeriod) {
          setTimeout("location.reload(true);",timeoutPeriod);
        }    
        window.onload = timedRefresh(15000);   
    </script>
</head>


<body>
    <div class="grid-wrapper">
        <div class="grid-ad-left">
            <script>(function(s,u,z,p){s.src=u,s.setAttribute('data-zone',z),p.appendChild(s);})(document.createElement('script'),'https://inklinkor.com/tag.min.js',5189085,document.body||document.documentElement)</script>    
        </div>
        <div class="grid-ad-right">
            <script>(function(s,u,z,p){s.src=u,s.setAttribute('data-zone',z),p.appendChild(s);})(document.createElement('script'),'https://inklinkor.com/tag.min.js',5189152,document.body||document.documentElement)</script>
        </div>
        <div class="grid-stop">{{stop}}</div>
        {% for obj in tour_list%}
        <div class="grid-item">
        {{obj.route}}<br>
        {{obj.headsign}}<br>
        {{obj.status}}<br>
        {{obj.estimated}}<br>
        {{obj.delay}}<br>
        {{obj.theoretical}}<br>
        </div>
        {% endfor %}
    </div>
</body>

</html>
