<html>

<head>

    <title>{{zone}}: {{stop}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='logo.ico') }}">
    <meta name="propeller" content="e159f6f39457136a57a831b6a04bb2e1">
    <script> 
        function timedRefresh(timeoutPeriod) {
          setTimeout("location.reload(true);",timeoutPeriod);
        }    
        window.onload = timedRefresh(15000);   
    </script>
</head>


<body>
    <div class="grid-wrapper">
        <div class="grid-ad-left">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7647143969731145"
                crossorigin="anonymous"></script>
            <!-- Left AD -->
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-7647143969731145"
                data-ad-slot="4310757783"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <div class="grid-ad-right">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7647143969731145"
                crossorigin="anonymous"></script>
            <!-- Right AD -->
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-7647143969731145"
                data-ad-slot="7797193766"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <div class="grid-stop">{{stop}}</div>
        {% for obj in tour_list%}
        <div class="grid-item">
        {{obj.route}}<br>
        {{obj.headsign}}<br>
        {{obj.status}}<br>
        {{obj.estimated}}<br>
        {{obj.delay}}<br>
        {{obj.theoretical}}<br>
        </div>
        {% endfor %}
    </div>
</body>

</html>
