<html>

<head>

    <title>{{zone}}: {{stop}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='logo.ico') }}">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7647143969731145"
     crossorigin="anonymous"></script>
     
</head>


<body>
    {{stop}}<br>
    {% for message in get_flashed_messages()%}
    <p>{{message}}</p>
    {% endfor %}

</body>

</html>
